<ion-card class="custom-form">
  <ion-card-header>
    <ion-card-title>
      {{mode ? 'Update build' : 'Create build'}}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form *ngIf="form" [formGroup]="form">
      <ion-label position="stacked">
        {{ mode ? "Build name" : "Build name" }}
      </ion-label>
      <app-form-control formControlName="buildname" (showMaxLengthErrorChange)="handleShowMaxLengthErrorChange($event)"></app-form-control><br><br>
      <ion-label position="stacked">
        {{ mode ? "Edit Class" : "New Class" }}
      </ion-label>
      <ion-item>
        <ion-select formControlName="selectedClasses" placeholder="Select a Class" aria-label="Select a Class">
          <ion-select-option *ngFor="let oneClass of selectedClasses" [value]="oneClass.id">
            {{ oneClass.attributes.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-label position="stacked">
        {{ mode ? "Edit Item" : "New Item" }}
      </ion-label>
      <ion-item>
        <ion-select formControlName="selectedItems" placeholder="Select an Item" aria-label="Select an Item">
          <ion-select-option *ngFor="let item of selectedItems" [value]="item.id">
            {{ item.attributes.item_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-buttons>
        <ion-back-button slot="start" defaultHref="/build-info"></ion-back-button>
        <ion-button
          fill="clear"
          style="text-transform: none; margin-left: auto;"
          [disabled]="!form.valid || showMaxLengthError"
          (click)="mode ? updateBuild() : onRegisterBuild()"
          type="submit"
        >
          {{ mode ? "Update" : "Save" }}
        </ion-button>
      </ion-buttons>
    </form>
  </ion-card-content>
</ion-card>
