<ion-card class="custom-form">
  <ion-card-header>
    <ion-card-title>
      {{ mode ? "Update item" : "Create item" }}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form *ngIf="form" [formGroup]="form">
      <ion-label position="stacked">
        {{ mode ? "Item name" : "Item name" }}
      </ion-label>
      <app-form-control
        formControlName="itemname"
        (showMaxLengthErrorChange)="handleShowMaxLengthErrorChange($event)"
      ></app-form-control
      ><br /><br />
      <ion-label position="stacked">
        {{ mode ? "Edit quality" : "New quality" }}
      </ion-label>
      <ion-item>
        <ion-select
          formControlName="selectedQualities"
          placeholder="Select a Quality"
          aria-label="Select a Quality"
        >
          <ion-select-option
            *ngFor="let oneQuality of selectedQualities"
            [value]="oneQuality.id"
          >
            {{ oneQuality.attributes.quality_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-label position="stacked">
        {{ mode ? "Edit type" : "New type" }}
      </ion-label>
      <ion-item>
        <ion-select
          formControlName="selectedTypes"
          placeholder="Select an Type"
          aria-label="Select an Type"
        >
          <ion-select-option
            *ngFor="let type of selectedTypes"
            [value]="type.id"
          >
            {{ type.attributes.type_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-buttons>
        <ion-back-button slot="start" defaultHref="/item"></ion-back-button>
        <ion-button
          fill="clear"
          style="text-transform: none; margin-left: auto;"
          [disabled]="!form.valid || showMaxLengthError"
          (click)="mode ? updateItem() : onRegisterItem()"
          type="submit"
        >
          {{ mode ? "Update" : "Save" }}
        </ion-button>
      </ion-buttons>
    </form>
  </ion-card-content>
</ion-card>
