<ion-card class="custom-form">
  <ion-card-header>
    <ion-card-title>
      {{mode ? 'Update' : 'Create'}}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form *ngIf="form" [formGroup]="form">
      <ion-input labelPlacement="stacked" label="itemName" formControlName="itemname" type="text"></ion-input>
      <ion-label position="stacked">
        {{ mode ? "Update" : "New" }}
      </ion-label>
      <ion-item>
        <ion-select formControlName="selectedQualities" placeholder="Select a Quality" aria-label="Select a Quality">
          <ion-select-option *ngFor="let oneQuality of selectedQualities" [value]="oneQuality.id">
            {{ oneQuality.attributes.quality_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-label position="stacked">
        {{ mode ? "Edit Item" : "New Item" }}
      </ion-label>
      <ion-item>
        <ion-select formControlName="selectedTypes" placeholder="Select an Type" aria-label="Select an Type">
          <ion-select-option *ngFor="let type of selectedTypes" [value]="type.id">
            {{ type.attributes.type_name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button style="text-transform: none" [disabled]="!form.valid" (click)="mode ? updateItem() : onRegisterItem()"
        type="submit">
        {{ mode ? "Update" : "Save" }}
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>
