<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card class="custom-form">

      <ion-card-header>
        <div class="logo">
          <ion-thumbnail>
            <img alt="logo of tasks" src="../../../assets/shapes.svg" />
          </ion-thumbnail>
          <ion-text>Tasks</ion-text>
        </div>
      </ion-card-header>

      <ion-card-content>
        <app-login-form (login)="login($event)"></app-login-form>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>

