<ion-content [fullscreen]="true">
  <ion-header>
    <div class="custom-buttons">
      <ion-buttons slot="end">
        <ion-button color="primary">Add</ion-button>
        <ion-button color="secondary">Update</ion-button>
        <ion-button color="danger">Delete</ion-button>
      </ion-buttons>
    </div>
  </ion-header>
  <ion-card *ngFor="let build of builds">
    <ion-card-header>
      <ion-button color="secondary" [routerLink]="['/','build', 'update', build.id]">Update</ion-button>
      <ion-button color="danger" (click)="deleteBuild(build.id)">Delete</ion-button>
      <ion-card-title>
        BUILD: {{build.attributes.build_name}} - {{ build.attributes.class.data.attributes.name }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>
        <img [src]="build.attributes.class.data.attributes.class_img.data.attributes.url" alt="Class Image">
      </div>
      <div *ngFor="let item of build.attributes.items.data">
        <div>{{item.attributes.type_id.data.attributes.type_name}}</div>
        <div>{{item.attributes.quality_id.data.attributes.quality_name}}</div>
        <div>{{item.attributes.item_name}}</div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" routerLink="/build-form">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>